html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  overflow: hidden;

}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  @media(min-width: 900px) {
    flex-direction: row;
  }
}

.container .description,
.container p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  line-height: 2vw;
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 60%;
  left: 40%;
  -webkit-transform: translate(-40%, -60%);
  transform: translate(-40%, -60%);
}

.container .constructor,
.container .traning,
.container .food,
.container .archive {
  display: block;
  width: 25vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;

}

.container .constructor .symbole,
.container .traning .symbole,
.container .food .symbole,
.container .archive .symbole {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 50%;
  left: 20%;
  -webkit-transform: translate(-20%, -50%);
  transform: translate(-20%, -50%);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.container .constructor {
  background: #ff6e6e;
  background: linear-gradient(185deg, #ff6e6e 0%, #813333 100%);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.container .traning {
  background: #66cee3;
  background: linear-gradient(185deg, #66cee3 0%, #3d417e 100%);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.container .food {
  background: #50d990;
  background: linear-gradient(185deg, #50d990 0%, #558f78 100%);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.container .archive {
  background: white;
  background: linear-gradient(185deg, white 0%, #858585 100%);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.container .logo {
  display: block;
  position: absolute;
  top: 4vh;
  left: 5vw;
  z-index: 1;
  width: 10%;
}

.container .out {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 4vh;
  left: 90vw;
  z-index: 1;
  width: 2%;
}

.container .constructor:hover,
.container .traning:hover,
.container .food:hover,
.container .archive:hover {
  width: 35%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container .constructor:hover .description,
.container .traning:hover .description,
.container .food:hover .description,
.container .archive:hover .description {
  width: 20vw;
  display: block;
  font-size: 1.5vw;
  color: white;
}

.container .constructor:hover p,
.container .traning:hover p,
.container .food:hover p,
.container .archive:hover p {
  color: white;
  margin-top: 4vw;
  width: 20vw;
  display: block;
  font-size: 1vw;
  font-weight: lighter;
  line-height: 1.2vw;
}

.container .constructor:hover .symbole,
.container .traning:hover .symbole,
.container .food:hover .symbole,
.container .archive:hover .symbole {
  color: rgba(255, 255, 255, 0.1);
  font-size: 20vw;
  top: 50%;
  left: 30%;
  -webkit-transform: translate(-30%, -50%);
  transform: translate(-30%, -50%);
  @media(min-width: 900px) {
    font-size: 20vh;
  }
}

.warning_info {
  position: absolute;
  z-index: 3;
  border-radius: 50px;
  background: #464E61;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 50px;
  font-size: 2vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.warning_info p {
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 20px;
  padding-bottom: 30px;
}

.warning_info div {
  display: flex;
  justify-content: space-around;
}

.warning_info div .btn {
  background: none;
  border: 2px solid white;
  border-radius: 30px;
  padding: 10px 12px;
  font-size: 24px;
  cursor: pointer;
  margin: 0 30px;
  margin-top: 30px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  text-align: center;
  min-width: 150px;
  color: white;
}

.warning_info .btn1 {
  color: white;
}

.warning_info .btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3b3b3b;
  z-index: -1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.warning_info .btn1::before {
  top: 0;
}

.warning_info .btn1:hover::before {
  height: 150%;
}

.warning_info div .second {
  border: 2px solid#FF7474;
  color: #FF7474;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .container .constructor,
  .container .traning,
  .container .food,
  .container .archive {
    width: 100vw;
    height: 25vh;
  }

  .container .constructor:hover,
  .container .traning:hover,
  .container .food:hover,
  .container .archive:hover {
    height: 35%;
    width: 100%;
  }
}